/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('fonts/roboto-v20-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/roboto-v20-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --lt-bg: #fff;
  --dk-bg: #2a2a2a;
  --lt-font: #333;
  --dk-font: #dee2e6;
  --lt-border: #adb5bd;
  --dk-border: #868e96;
  --lt-danger: #e03131;
  --dk-danger: #ff8787;
}

* {
  box-sizing: border-box;
}

::selection {
    background-color: var(--lt-font);
    color: var(--lt-bg);
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--lt-bg);
  color: var(--lt-font);
}

h1 {
  text-align: center;
}

.container {
  width: 95%;
  margin: 0 auto;
  padding-top: 1rem;
  max-width: 900px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 10px;
}

.pps-box {
  border: 1px solid var(--lt-border);
  position: relative;
  width: 100%;
  border-radius: 2px;
}

.pps-header-wrapper {
  padding: 0.25rem;
  border-bottom: 1px solid var(--lt-border);
  overflow: hidden;
}

.pps-box h2 {
  margin: 0;
  padding: 0;
  line-height: 1em;
  overflow: hidden;
}

.pps-map-icon {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  display: inline-block;
}

@media (prefers-color-scheme: dark) {
	.pps-map-icon {
		filter: invert(0.75);
	}
}

.pps-main-wrapper {
  padding: 0.25rem; 
}

.pps-free {
  text-align: center;
  font-size: 4rem;
  margin: 0;
  padding: 0;
  font-weight: 700;
}

.pps-danger {
  color: var(--lt-danger);
}

.pps-total {
  text-align: center;
  margin: 0;
}

.clear {
  clear: both;
}

footer {
  font-size: 0.8rem;
  text-align: center;
}

footer a {
  color: inherit;
  text-decoration: none;
}

footer img {
  height: 1em;
}

@media (prefers-color-scheme: dark) {
	footer img {
		filter: invert(0.75);
	}
}

footer img:hover {
  animation:spin 4s linear infinite;
}

@keyframes spin { 100% {transform:rotate(-360deg); } }

@media (max-width: 768px) {
  body {
    font-size: 0.8rem;
  }

  .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .pps-map-icon {
    top: 0.2rem;
    right: 0.2rem;
  }

  .pps-free {
    font-size: 1.5rem;
  }
}

@media (max-width: 320px) {
  .container {
    grid-template-columns: repeat(1, 1fr)
  }
}

@media (prefers-color-scheme: dark) {
  ::selection {
    background-color: var(--dk-font);
    color: var(--dk-bg);
  }

  body {
    background-color: var(--dk-bg);
    color: var(--dk-font);
  }

  .pps-box {
    border: 1px solid var(--dk-border);
  }

  .pps-header-wrapper {
    border-bottom: 1px solid var(--dk-border);
  }

  .pps-danger {
    color: var(--dk-danger);
  }

}
